<div class="header-inner bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-primary">About Us</h2>
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> About us </span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  inner banner -->
  
  <!--=================================
  Millions of jobs -->
  <section class="space-ptb" style="background-image: url(assets/images/google-map.png); background-position: center center; background-repeat: no-repeat;">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-6">
          <h2 class="mb-4">Millions of internships, find the one that suits you</h2>
        </div>
        <div class="col-lg-10">
          <div class="text-center">
            <p class="mb-lg-5 mb-4 lead">We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful folks as Michael Jordan and Bill Gates. We can look a bit further back in time to Albert Einstein or even further back to Abraham Lincoln.</p>
            <img class="img-fluid mt-lg-4 mt-3" src="assets/images/about/about-img1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Millions of jobs -->
  
  <!--=================================
  Advertise A Job -->
  <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
            <div class="feature-info-icon mb-3">
              <i class="flaticon-contract"></i>
            </div>
            <div class="feature-info-content">
              <h5 class="text-black">Advertise A internship</h5>
              <p class="mb-0">Use a past defeat as a motivator. Remind yourself you have nowhere to go except.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
            <div class="feature-info-icon mb-3">
              <i class="flaticon-profiles"></i>
            </div>
            <div class="feature-info-content">
              <h5 class="text-black">Recruiter Profiles</h5>
              <p class="mb-0">Let success motivate you. Find a picture of what epitomizes success to you have already.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
            <div class="feature-info-icon mb-3">
              <i class="flaticon-job-3"></i>
            </div>
            <div class="feature-info-content">
              <h5 class="text-black">Find Your Dream internship</h5>
              <p class="mb-0">Make a list of your achievements toward your long-term goal and remind your.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Advertise A Job -->
  
  <!--=================================
  Why You Choose Job -->
  <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-sm-7">
              <img class="img-fluid mb-sm-0 w-100" src="assets/images/about/01.png" alt="">
            </div>
            <div class="col-sm-5 mt-4">
              <img class="img-fluid mb-2 w-100" src="assets/images/about/02.png" alt="">
              <div class=" mt-4">
                <a class="popup-icon popup-youtube bg-holder bg-overlay-black-70" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                  <i class="flaticon-play-button"></i>
                  <img class="img-fluid w-100" src="assets/images/about/03.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-title-02">
            <h2>Why You Choose internship Among Other internship Site?</h2>
            <p>I truly believe Augustine’s words are true and if you look at history you know it is true. There are many people in the world with amazing talents who realize only a small percentage of their potential. </p>
          </div>
          <div class="row mt-sm-5 mt-4">
            <div class="col-md-6">
              <div class="d-flex mb-lg-5 mb-4">
                <i class="font-xlll text-primary flaticon-team"></i>
                <h5 class="ps-3 align-self-center mb-0">Best talented people</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex mb-lg-5 mb-4">
                <i class="font-xlll text-primary flaticon-chat"></i>
                <h5 class="ps-3 align-self-center mb-0">Easy to find candidate</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex mb-md-0 mb-4">
                <i class="font-xlll text-primary flaticon-job-3"></i>
                <h5 class="ps-3 align-self-center mb-0">Easy to communicate</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex">
                <i class="font-xlll text-primary flaticon-job-2"></i>
                <h5 class="ps-3 align-self-center mb-0">Global recruitment option</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Why You Choose Job -->
  
  <!--=================================
  counter -->
  <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-dark py-5">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="counter mb-5 mb-lg-0 justify-content-center">
                  <div class="counter-icon">
                    <i class="flaticon-curriculum"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer mb-1 text-white" data-to="1227" data-speed="10000">1227</span>
                    <label class="mb-0 text-white">internships Posted</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter mb-5 mb-lg-0 justify-content-center">
                  <div class="counter-icon">
                    <i class="flaticon-resume"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer mb-1 text-white" data-to="123" data-speed="10000">123</span>
                    <label class="mb-0 text-white">internships Filled</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter mb-5 mb-sm-0 justify-content-center">
                  <div class="counter-icon">
                    <i class="flaticon-suitcase"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer mb-1 text-white" data-to="170" data-speed="10000">170</span>
                    <label class="mb-0 text-white">Companies</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="counter justify-content-center">
                  <div class="counter-icon">
                    <i class="flaticon-users"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer mb-1 text-white" data-to="127" data-speed="10000">127</span>
                    <label class="mb-0 text-white">Members</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  counter -->
  
  <!--=================================
  Testimonial -->
  <section class="space-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-12 text-center">
          <div class="owl-carousel owl-nav-top-center" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
            <div class="item">
              <div class="testimonial-item text-center">
                <div class="avatar">
                  <img class="img-fluid rounded-circle" src="assets/images/avatar/04.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>The Jobber database has been one of our current sources for recruitment, backed by a very experienced team who would go out of their way to make sure that requests are taken ahead.</p>
                </div>
                <div class="testimonial-name">
                  <i class="fas fa-quote-left quotes"></i>
                  <h6 class="mb-1">Sara Lisbon</h6>
                  <span>Web Developer</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item text-center">
                <div class="avatar">
                  <img class="img-fluid rounded-circle" src="assets/images/avatar/02.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>Portal is very user-friendly in terms of searching for resumes and internships postings. Also, they have an excellent database to search for resumes. As far as services are involved, it's terrific! </p>
                </div>
                <div class="testimonial-name">
                  <i class="fas fa-quote-left quotes"></i>
                  <h6 class="mb-1">Joana Williams</h6>
                  <span>Graphic Designer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Testimonial -->
  
  <!--=================================
  feature info section -->
  <section class="feature-info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
            <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
              <i class="flaticon-team"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Jobseeker</p>
              <h5 class="text-white">Looking For internship?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-dark">
            <div class="feature-info-icon mb-3 mb-sm-0 text-primary">
              <i class="flaticon-job-3"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Recruiter</p>
              <h5 class="text-white">Are You Recruiting?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Post a internship<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
