<footer class="footer mt-0">
    <div class="container pb-4 pb-lg-5">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-link">
            <h5 class="text-dark mb-4">For Candidates</h5>
            <ul class="list-unstyled">
              <li><a href="#">Browse Offers</a></li>
              <li><a href="#">Browse Categories</a></li>
              <li><a href="#">Submit Resume</a></li>
              <li><a href="#">Candidate Dashboard</a></li>
              <li><a href="#">Offer Alerts</a></li>
              <li><a href="#">My Bookmarks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="footer-link">
            <h5 class="text-dark mb-4">For Employers</h5>
            <ul class="list-unstyled">
              <li><a href="#">Browse Candidates</a></li>
              <li><a href="#">Browse Categories</a></li>
              <li><a href="#">Employer Dashboard</a></li>
              <li><a href="#">Add Offer</a></li>
              <li><a href="#">Offer Packages</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="footer-link">
            <h5 class="text-dark mb-4">Partner Sites</h5>
            <ul class="list-unstyled">
              <li><a href="#">Shortcodes</a></li>
              <li><a href="#">Offer Page</a></li>
              <li><a href="#">Offer Page Alternative </a></li>
              <li><a href="#">Resume Page</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="footer-contact-info bg-holder" style="background-image: url(assets/images/google-map.png);">
            <h5 class="text-dark mb-4">Contact Us</h5>
            <ul class="list-unstyled mb-0">
              <li> <i class="fas fa-map-marker-alt text-primary"></i><span>214 West Arnold St. New York, NY 10002</span> </li>
              <li> <i class="fas fa-mobile-alt text-primary"></i><span>+(123) 345-6789</span> </li>
              <li> <i class="far fa-envelope text-primary"></i><span>support@Offerer.demo</span> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-bottom"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-start">
            <p class="mb-0"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Jobber </a> All Rights Reserved </p>
          </div>
          <div class="col-md-4 mt-4 mt-md-0">
            <div class="social d-flex justify-content-lg-end justify-content-center">
              <ul class="list-unstyled">
                <li class="facebook"><a href="#">FB</a></li>
                <li class="twitter"><a href="#">TW</a></li>
                <li class="linkedin"><a href="#">IN</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>