<section class="banner bg-holder bg-overlay-black-30 text-white"
  style="background-image: url(assets/images/bg/banner-01.jpg);"  >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center position-relative">
        <h1 class="text-white mb-3">Drop <span class="text-primary"> Resume & Get </span> Your Desired internship</h1>
        <p class="lead mb-4 mb-lg-5 fw-normal">Find internships, Employment & Career Opportunities</p>
        <div class="job-search-field">
          <div class="job-search-item">
            <form class="form row">
              <div class="col-lg-10">
                <div class="form-group mb-3">
                  <div class="d-flex">
                    <label class="form-label">What</label>
                    <span class="ms-auto">e.g. internship, company, title</span>
                  </div>
                  <div class="position-relative left-icon">
                    <input type="text" class="form-control" name="job_title" placeholder="Job title, skill or company"
                      [(ngModel)]="searchFilter">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
             
              <div class="col-lg-2 col-sm-12">
                <div class="form-group mb-3 form-action">
                  <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-search"></i> Find </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="job-tag mt-4">
          <ul class="justify-content-center">
            <li class="text-primary">Trending Keywords :</li>
            <li><a href="#">Automotive,</a></li>
            <li><a href="#">Education,</a></li>
            <li><a href="#">Health and Care Engineering</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Banner -->

<!--=================================
Category-style -->
<section class="space-ptb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 mb-4 mb-lg-0">
        <div class="section-title">
          <h2 class="title">Choose your sector</h2>
          <p class="mb-0">I truly believe Augustine’s words are true and if you look at history you know it is true.</p>
        </div>
        <a class="btn btn-outline btn-lg" href="/job-grid">View More internships</a>
      </div>
      <div class="col-lg-9 mt-0 mt-md-3 mt-lg-0">
        <div class="category-style text-center">
          <a href="#" class="category-item" *ngFor="let categorie of categories">
            <div class="category-icon mb-4">
              <i class="flaticon-coding"></i>
            </div>
            <h6>{{categorie.titlecategorie}}</h6>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Category-style -->

<!--=================================
Divider -->
<div class="container ">
  <div class="row">
    <div class="col-12">
      <hr class="m-0">
    </div>
  </div>
</div>
<!--=================================
Divider -->

<!--=================================
Jobs-listing -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="title">offers You May be Interested in</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="browse-job d-flex border-0 pb-3">
          <div class="mb-4 mb-md-0">
            <ul class="nav nav-tabs justify-content-center d-flex" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                  aria-controls="home" aria-selected="true">Hot offers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">Recent offers</a>
              </li>
            </ul>
          </div>
          <div class="job-found ms-auto mb-0">
            <span class="badge badge-lg bg-primary">{{totalOffers()}}</span>
            <h6 class="ms-3 mb-0">offer Found</h6>
          </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <!-- Hot jobs -->
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row ">
              <div class="col-lg-12 mb-12 mb-sm-0" *ngFor="let offer of offers.slice(offers.length-4).reverse() | recherche : searchFilter">
                <!-- Freelance -->
                <!-- {{check(offer.idoffre)}} -->
                <div class="job-list">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="http://localhost:8080/users/files/{{offer.logo}}">
                  </div>
                  <div class="job-list-details">
                    <div class="job-list-info">
                      <div class="job-list-title">
                        <h5 class="mb-0"><a routerLink="/job-detail/{{offer.idoffre}}" title="">{{offer.titleoffer}}</a>
                        </h5>
                      </div>
                      <div class="job-list-option">
                        <ul class="list-unstyled">
                          <li>
                            <span>via</span>
                            <a routerLink="/employer-detail/{{offer.societe.id}}"> {{offer.societe.companyname}}</a>
                          </li>
                          <li><i class="fas fa-map-marker-alt pe-1"></i>{{offer.city.city}},{{offer.city.admin_name}}
                          </li>
                          <li><i class="fas fa-filter pe-1"></i>{{offer.categorie.titlecategorie}}</li>
                          <li><i class="fas fa-suitcase pe-1"></i>{{offer.contract_type}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="job-list-favourite-time" (mouseenter)="this.getOffreById(offer.idoffre) "
                    h="this.getOffreById(offer.idoffre)">
                    <a class="job-list-favourite order-2">
                      <i *ngIf="test==false" class="far fa-heart text-danger"></i>
                      <i *ngIf="test==true" class="fa fa-heart text-danger"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Recent jobs -->
          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-4" *ngFor="let offer of offers.slice(offers.length-4).reverse()">
              <div class="col-lg-12 mb-12 mb-sm-0">

                <div class="job-list">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="http://localhost:8080/users/files/{{offer.logo}}">
                  </div>
                  <div class="job-list-details">
                    <div class="job-list-info">
                      <div class="job-list-title">
                        <h5 class="mb-0"><a routerLink="/job-detail/{{offer.idoffre}}" title="">{{offer.titleoffer}}</a>
                        </h5>
                      </div>
                      <div class="job-list-option">
                        <ul class="list-unstyled">
                          <li>
                            <span>via</span>
                            <a routerLink="/employer-detail/{{offer.societe.id}}"> {{offer.societe.companyname}}</a>
                          </li>
                          <li><i class="fas fa-map-marker-alt pe-1"></i>{{offer.city.city}},{{offer.city.admin_name}}
                          </li>
                          <li><i class="fas fa-filter pe-1"></i>{{offer.categorie.titlecategorie}}</li>
                          <li><i class="fas fa-suitcase pe-1"></i>{{offer.contract_type}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="job-list-favourite-time" (mouseenter)="this.getOffreById(offer.idoffre) "
                    h="this.getOffreById(offer.idoffre)">
                    <a class="job-list-favourite order-2">
                      <i *ngIf="test==false" class="far fa-heart text-danger"></i>
                      <i *ngIf="test==true" class="fa fa-heart text-danger"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 justify-content-center d-flex mt-md-5 mt-4">
        <a class="btn btn-outline btn-lg" routerLink="/job-grid">View More offers</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Jobs-listing -->

<!--=================================
Candidates & Companies -->
<section class="space-pb">
  <div class="container">
    <div class="row">
      <!-- Featured Candidates -->
      <div class="col-lg-5 mb-6 mb-lg-0">
        <div class="section-title">
          <h2 class="title">Featured Candidates</h2>
          <p>We know this in our gut, but what can we do about it? How can we motivate ourselves?</p>
        </div>
        <div class="candidate-list" *ngFor="let c of candidats.slice(candidats.length-4).reverse()">
          <div class="candidate-list-image">
            <img class="img-fluid" src="http://localhost:8080/users/files/{{c.image}}" alt="">
          </div>
          <div class="candidate-list-details">
            <div class="candidate-list-info">
              <div class="candidate-list-title">
                <h5 class="mb-0"><a routerLink="/candidates-detail/{{c.iduser}}">{{c.firstName}} {{c.lastName}}</a></h5>
              </div>
              <div class="candidate-list-option">
                <ul class="list-unstyled">
                  <li><i class="fas fa-filter pe-1"></i>{{c.profil}}</li>
                  <li><i class="fas fa-map-marker-alt pe-1"></i>{{c.Address}}{{c.city.city}},{{c.city.admin_name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="candidate-list-favourite-time">
            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mb-6 mb-lg-0"></div>
      <!-- Top Companies -->
      <div class="col-lg-5 mb-6 mb-lg-0">

        <div class="section-title">
          <h2 class="title">Top Companies</h2>
          <p>Here are some tips and methods for motivating yourself:</p>
        </div>
        <div class="candidate-list" *ngFor="let e of employers">
          <div class="candidate-list-image">
            <img class="img-fluid" src="http://localhost:8080/users/files/{{e.image}}" alt="">
          </div>
          <div class="candidate-list-details">
            <div class="candidate-list-info">
              <div class="candidate-list-title">
                <h5 class="mb-0"><a routerLink="/employer-detail/{{e.iduser}}">{{e.companyname}}</a></h5>
              </div>
              <div class="candidate-list-option">
                <ul class="list-unstyled">
                  <li><i class="fas fa-filter pe-1"></i> {{e.firstName}} {{e.lastName}}</li>
                  <li><i class="fas fa-map-marker-alt pe-1"></i>{{e.Address}}{{e.city.city}},{{e.city.admin_name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="candidate-list-favourite-time">
            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Candidates & Companies -->

<!--=================================
Easiest Way to Use -->
<section class="space-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title center">
          <h2 class="title">Easiest Way to Use</h2>
          <p>Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself.</p>
        </div>
      </div>
    </div>
    <div class="row bg-holder-pattern mt-3 mt-md-4 me-md-0 ms-md-0"
      style="background-image: url('assets/images/step/pattern-01.png');">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="feature-step text-center">
          <div class="feature-info-icon" routerLink="/register">
            <i class="flaticon-resume"></i>
          </div>
          <div class="feature-info-content pb-2 pb-md-0">
            <h5>Create Account</h5>
            <p class="mb-0"  >Create an account and access your saved settings on any device.</p>
          </div>
        </div>
      </div>
    
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="feature-step text-center">
          <div class="feature-info-icon">
            <i class="flaticon-recruitment"></i>
          </div>
          <div class="feature-info-content pb-2 pb-md-0">
            <h5>Find Your Vacancy</h5>
            <p class="mb-0">Don't just find. Be found. Put your CV in front of great employers.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="feature-step text-center">
          <div class="feature-info-icon" routerLink="/job-grid">
            <i class="flaticon-position"></i>
          </div>
          <div class="feature-info-content pb-2 pb-md-0">
            <h5>Get A offer</h5>
            <p class="mb-0">Your next career move starts here. Choose offer from thousands of companies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Easiest Way to Use -->

<!--=================================
Feature-info -->
<section class="space-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-4" *ngIf="connect==false">
        <div class="feature-info feature-info-02 p-4 p-md-5 bg-primary">
          <div class="feature-info-icon mb-3 text-dark">
            <i class="flaticon-team"></i>
          </div>
          <div class="feature-info-content ps-sm-4 ps-0">
            <h5 class="text-white">Looking For offer?</h5>
            <p class="text-white">Your next role could be with one of these top leading organizations.</p>
            <a data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-lg-0 mb-4" *ngIf="connect==true">
        <div class="feature-info feature-info-02 p-4 p-md-5 bg-primary">
          <div class="feature-info-icon mb-3 text-dark">
            <i class="flaticon-team"></i>
          </div>
          <div class="feature-info-content ps-sm-4 ps-0">
            <h5 class="text-white">Looking For offer?</h5>
            <p class="text-white">Your next role could be with one of these top leading organizations.</p>
            <a href="/job-grid">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="connect==false">
        <div class="feature-info feature-info-02 p-4 p-md-5 bg-dark">
          <div class="feature-info-icon mb-3 text-primary">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content ps-sm-4 ps-0">
            <h5 class="text-white">Are You Recruiting?</h5>
            <p class="text-white">Five million searchable CVs in one place with our linked CV database.</p>
            <a data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="connect==true&&userconnect.role=='EMPLOYER'">
        <div class="feature-info feature-info-02 p-4 p-md-5 bg-dark">
          <div class="feature-info-icon mb-3 text-primary">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content ps-sm-4 ps-0">
            <h5 class="text-white">Are You Recruiting?</h5>
            <p class="text-white">Five million searchable CVs in one place with our linked CV database.</p>
            <a href="/post">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="connect==true&&userconnect.role=='CANDIDAT'">
        <div class="feature-info feature-info-02 p-4 p-md-5 bg-dark">
          <div class="feature-info-icon mb-3 text-primary">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content ps-sm-4 ps-0">
            <h5 class="text-white">Are You Recruiting?</h5>
            <p class="text-white">Five million searchable CVs in one place with our linked CV database.</p>
            <a >Post a internship<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Feature-info -->



<!--Why You Choose Job Among Other Job Site -->
<section class="space-pb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-md-5 mb-lg-0 pe-lg-5">
        <div class="row">
          <div class="col-sm-7">
            <img class="img-fluid w-100" src="assets/images/about/01.png" alt="">
          </div>
          <div class="col-sm-5 mt-sm-5 mt-4">
            <img class="img-fluid mb-sm-2 w-100" src="assets/images/about/02.png" alt="">
            <div class=" mt-3">
              <a class="popup-icon popup-youtube bg-holder bg-overlay-black-80"
                href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                <i class="flaticon-play-button"></i>
                <img class="img-fluid w-100" src="assets/images/about/03.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pt-2 pt-sm-3 pt-md-0">
        <div class="section-title">
          <h2 class="title">Why You Choose offer Among Other offer Site?</h2>
          <p>I truly believe Augustine’s words are true and if you look at history you know it is true. There are many
            people in the world with amazing talents. who realize only a small percentage of their potential. We all
            know people who live this truth.</p>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="d-flex mb-lg-5 mb-4">
              <i class="font-xlll text-primary flaticon-team"></i>
              <h6 class="ps-3 align-self-center mb-0">Best talented people</h6>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex mb-lg-5 mb-4">
              <i class="font-xlll text-primary flaticon-job-3"></i>
              <h6 class="ps-3 align-self-center mb-0">Easy to find candidate</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="d-flex mb-md-0 mb-4">
              <i class="font-xlll text-primary flaticon-chat"></i>
              <h6 class="ps-3 align-self-center mb-0">Easy to communicate</h6>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex">
              <i class="font-xlll text-primary flaticon-job-2"></i>
              <h6 class="ps-3 align-self-center mb-0">Global recruitment option</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Why You Choose Job Among Other Job Site -->

<!--Clients Say About Us -->

<!--=================================
Clients Say About Us -->
<!--=================================
Browse Hundreds of Jobs -->
<!-- <section class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light px-lg-5">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="px-md-5 px-4 pt-5 pt-lg-0">
                <div class="section-title">
                  <h2 class="title">Browse Hundreds of Jobs</h2>
                  <p class="lead">We are efficiently delivering tons of jobs straight to your pocket.</p>
                </div>
                <div class="d-block d-sm-flex mb-0 mb-lg-2">
                  <a class="btn btn-white btn-sm btn-app me-0 me-sm-2 mb-2 mb-sm-0 py-2" href="#">
                    <i class="fab fa-apple"></i>
                    <div class="btn-text text-start">
                      <small class="fw-normal">Download on the </small>
                      <span class="mb-0 d-block">App Store</span>
                    </div>
                  </a>
                  <a class="btn btn-white btn-sm btn-app mb-2 mb-sm-0 py-2" href="#">
                    <i class="fab fa-google-play"></i>
                    <div class="btn-text text-start">
                      <small class="fw-normal">Get it on </small>
                      <span class="mb-0 d-block">Google Play</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 mt-4 mt-md-5 text-center">
              <img class="img-fluid" src="assets/images/mobile-app.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--=================================
Browse Hundreds of Jobs -->

<!--=================================
Blog and Career Advice -->
<!-- <section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title center">
          <h2 class="title">Blog and Career Advice</h2>
          <p>Data trends and insights, tips for employers, product updates and best practices</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-md-0 mb-4">
        <div class="blog-post justify-content-center text-center">
          <div class="blog-post-image">
            <img class="img-fluid" src="assets/images/blog/03.jpg" alt="">
          </div>
          <div class="blog-post-content">
            <div class="blog-post-details pb-0">
              <div class="blog-post-time">
                <a href="#">February 4, 2019</a>
              </div>
              <div class="blog-post-title">
                <h5><a href="#">How to sell yourself in a job interview</a></h5>
              </div>
              <div class="justify-content-center mt-2 d-flex">
                <a class="btn btn-link p-0" href="#">Read More <i class="fas fa-long-arrow-alt-right ps-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4">
        <div class="blog-post text-center">
          <div class="blog-post-image">
            <img class="img-fluid" src="assets/images/blog/04.jpg" alt="">
          </div>
          <div class="blog-post-content">
            <div class="blog-post-details pb-0">
              <div class="blog-post-time">
                <a href="#">March 10, 2019</a>
              </div>
              <div class="blog-post-title">
                <h5><a href="#">Hype or Helpful to the Jobs Market?</a></h5>
              </div>
              <div class="justify-content-center mt-2 d-flex">
                <a class="btn btn-link p-0" href="#">Read More <i class="fas fa-long-arrow-alt-right ps-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-post text-center">
          <div class="blog-post-image">
            <img class="img-fluid" src="assets/images/blog/05.jpg" alt="">
          </div>
          <div class="blog-post-content">
            <div class="blog-post-details pb-0">
              <div class="blog-post-time">
                <a href="#">May 15, 2020</a>
              </div>
              <div class="blog-post-title">
                <h5><a href="#">How to become an Account Manager</a></h5>
              </div>
              <div class="justify-content-center mt-2 d-flex">
                <a class="btn btn-link p-0" href="#">Read More <i class="fas fa-long-arrow-alt-right ps-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--=================================
Blog and Career Advice -->

<!--=================================
Action box & Counter -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-sm-5 mb-lg-0">
        <div class="d-sm-flex">
          <div class="align-self-center footer-top-logo"><img class="img-fluid" src="assets/images/logo-dark.svg"
              alt=""></div>
          <div class="ps-sm-3 ms-sm-3 mt-3 mt-sm-0 border-sm-start">Create a free account to find thousands of Jobs,
            Employment & Career Opportunities around you!</div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="counter mb-4 mb-sm-0">
              <div class="counter-icon">
                <i class="flaticon-team"></i>
              </div>
              <div class="counter-content">
                <span class="timer mb-1 text-dark" data-to="1562" data-speed="10000">{{totalOffers()}}</span>
                <label class="mb-0">internships Posted</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-job-3"></i>
              </div>
              <div class="counter-content">
                <span class="timer mb-1 text-dark" data-to="240" data-speed="10000">{{totalCompanys()}}</span>
                <label class="mb-0">Companies</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h4 class="mb-0 text-center">Login to Your Account</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="login-register">
          <fieldset>
            <legend class="px-2">Choose your Account Type</legend>
            <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">
              <li class="nav-item me-4">
                <a class="nav-link active" data-bs-toggle="tab" href="#candidate" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-users"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Candidate</h6>
                      <p class="mb-0">Log in as Candidate</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#employer" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-suitcase"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Employer</h6>
                      <p class="mb-0">Log in as Employer</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </fieldset>
          <div class="tab-content">
            <div class="tab-pane active" id="candidate" role="tabpanel">
              <form [formGroup]="formLogin" class="mt-4">
                <div class="row">
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="Email2">Username</label>
                    <input type="text" class="form-control" formControlName="username" id="username">
                  </div>
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="password2">Password*</label>
                    <input type="password" formControlName="password" class="form-control" id="password">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" (click)="onLogin()" type="submit" data-bs-dismiss="modal"
                     >Sign In</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0 forgot-pass">
                      <a href="#">Forgot Password?</a>
                      <p class="mt-1">Don't have account? <a routerLink="/register">Sign Up here</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="employer" role="tabpanel">
              <form class="mt-4" [formGroup]="formLogin" (ngSubmit)="onLogin()">
                <div class="row">
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="Email2">Username / Email Address:</label>
                    <input type="text" class="form-control" formControlName="username" id="Email2">
                  </div>
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="password2">Password*</label>
                    <input type="password" class="form-control" formControlName="password" id="password2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" (click)="onLogin()" type="submit" data-bs-dismiss="modal">Sign
                      In</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0">
                      <a href="#">Forgot Password?</a>
                      <p class="mt-1">Don't have account? <a routerLink="/register" data-bs-dismiss="modal">Sign Up here</a></p>
                      <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="Remember-02">
                        <label class="form-check-label" for="Remember-02">Remember Password</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="mt-4">
            <fieldset>
              <legend class="px-2">Login or Sign up with</legend>
              <div class="social-login">
                <ul class="list-unstyled d-flex mb-0">
                  <li class="facebook text-center">
                    <a href="#"> <i class="fab fa-facebook-f me-3 me-md-4"></i>Login with Facebook</a>
                  </li>
                  <li class="twitter text-center">
                    <a href="#"> <i class="fab fa-twitter me-3 me-md-4"></i>Login with Twitter</a>
                  </li>
                  <li class="google text-center">
                    <a href="#"> <i class="fab fa-google me-3 me-md-4"></i>Login with Google</a>
                  </li>
                  <li class="linkedin text-center">
                    <a href="#"> <i class="fab fa-linkedin-in me-3 me-md-4"></i>Login with Linkedin</a>
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>