<!--=================================
Change Password -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box">
          <div class="section-title-02 mb-4">
            <h4>Deleting your account</h4>
          </div>
          This is permanent.
        <br> When you delete your account ,you wont't be able to retrieve the content 
        <br>or information that you've saved.Your account will be deleted.
        </div>
        <a class="btn btn-lg btn-primary"(click)="deleteCandidat(userconnect.iduser)" >Continue to account deletion</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Change Password -->

