<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="candidates-user-info">
          <div class="jobber-user-info">
            <div class="profile-avatar">
              <form [formGroup]="formImage">
                <span> <img class="img-fluid" style="width: 200px;"
                    src="http://localhost:8080/users/files/{{userconnect.image}}" alt="">
                </span><a (click)="fileInput.click()" title=""><i class="fas fa-pencil-alt"></i></a>
                <div class="upload-file">
                  <input class="form-control" name="file" 
                  (change)=" handelFileInput($event)" type="file" id="formFile"
                    formControlName="image" #fileInput>
                </div>
              </form>
            </div>
            <div class="profile-avatar-info ms-4">
              <h3>{{userconnect.username}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':score}"  aria-valuemin="0"
            aria-valuemax="100">
            <span class="progress-bar-number">{{score}}%</span>
          </div>
        </div>
        <div class="candidates-skills">
          <div class="candidates-skills-info">
            <h3 class="text-primary">{{score}}%</h3>
            <span class="d-block">Skills increased by offer Title.</span>
          </div>
          <div class="candidates-required-skills ms-auto mt-sm-0 mt-3">
            <a class="btn btn-dark" href="#">Complete Required Skills</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
  inner banner -->

<!--=================================
  Dashboard Nav -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sticky-top secondary-menu-sticky-top">
          <div class="secondary-menu">
            <ul class="list-unstyled mb-0">
              <li><a routerLink="dashboard-candidat">Dashboard</a></li>
              <li><a routerLink="candidates-profile">My Profile</a></li> 
              <li><a routerLink="candidates-resume">My Resume</a></li>
              <li><a routerLink="candidates-manage-jobs">Manage applications</a></li>
              <li><a routerLink="candidates-saved-jobs">Saved Offers</a></li>
              <li><a routerLink="candidates-password">Deleting account</a></li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>