<section class="header-inner header-inner-big bg-holder text-white" style="background-image: url(assets/images/bg/banner-01.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="job-search-field">
          <div class="job-search-item">
            <form class="form row">
              <div class="col-lg-10">
                <div class="position-relative left-icon">
                  <input type="text" class="form-control" name="job_title" placeholder="Job title, skill or company"
                    [(ngModel)]="searchFilter">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              
              <div class="col-lg-2 col-sm-12">
                <div class="form-group form-action">
                  <button type="submit" class="btn btn-primary mt-0"><i class="fas fa-search-location"></i> Find Job</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--=================================
  banner -->
  
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <!--=================================
        sidebar -->
        <div class="col-lg-3">
          <div class="sidebar">
            <div class="widget">
              <div class="search">
                <i class="fas fa-search"></i>
               <input class="form-control" type="text" placeholder="Search Keywords" [(ngModel)]="profil">
              </div>
            </div>
            <hr>
           
            <div class="widget">
              <div class="widget-title widget-collapse">
                <h6>locality</h6>
                <a class="ms-auto" data-bs-toggle="collapse" href="#locality" role="button" aria-expanded="false" aria-controls="locality"> <i class="fas fa-chevron-down"></i> </a> </div>
                <div class="collapse show" id="locality">
                  <div class="widget-content">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Tunis" value="Tunis" (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Tunis">Tunis</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Sfax" value="Sfax"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Sfax">Sfax</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Sousse" value="Sousse"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Sousse">Sousse</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Kairouan" value="Kairouan"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Kairouan">Kairouan</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Gabès" value="Gabès"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Gabès">Gabès</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Kébili" value="Kébili"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Kébili">Kébili</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Bizerte" value="Bizerte"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Bizerte">Bizerte</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Sidi Bouzid" value="Sidi Bouzid"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Sidi Bouzid">Sidi Bouzid</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="L’Ariana" value="L’Ariana"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="L’Ariana">L’Ariana</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Jendouba" value="Jendouba"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Jendouba">Jendouba</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Gafsa" value="Gafsa"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Gafsa">Gafsa</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Médenine" value="Médenine"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Médenine">Médenine</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Béja" value="Béja"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Béja">Béja</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Kasserine" value="Kasserine"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Kasserine">Kasserine</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Monastir" value="Monastir"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Monastir">Monastir</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Nabeul" value="Nabeul"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Nabeul">Nabeul</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Tataouine" value="Tataouine"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Tataouine">Tataouine</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Ben Arous" value="Ben Arous"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Ben Arous">Ben Arous</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Mahdia" value="Mahdia"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Mahdia">Mahdia</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Kef" value="Kef"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Kef">Kef</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Manouba" value="Manouba"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Manouba">Manouba</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Tozeur" value="Tozeur"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Tozeur">Tozeur</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Zaghouan" value="Zaghouan"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Zaghouan">Zaghouan</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="Siliana" value="Siliana"  (change)="OnChangeLieu($event)">
                      <label class="form-check-label" for="Siliana">Siliana</label>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="widget">
                <div class="widget-title widget-collapse">
                  <h6>Experience</h6>
                  <a class="ms-auto" data-bs-toggle="collapse" href="#experience" role="button" aria-expanded="false" aria-controls="experience"> <i class="fas fa-chevron-down"></i> </a> </div>
                  <div class="collapse show" id="experience">
                    <div class="widget-content">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="1y Experience" (change)="OnChangeExp($event)" value="1y Experience">
                        <label class="form-check-label" for="1y Experience">1y Experience</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="experience2" (change)="OnChangeExp($event)" value="2y Experience">
                        <label class="form-check-label" for="experience2">2y Experience</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="experience3" (change)="OnChangeExp($event)" value="3y Experience">
                        <label class="form-check-label" for="experience3">3y Experience</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="experience4" (change)="OnChangeExp($event)" value="4y Experience">
                        <label class="form-check-label" for="experience4">4y Experience</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="experience5" (change)="OnChangeExp($event)" value="+5y Experience">
                        <label class="form-check-label" for="experience5">+5y Experience</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>

            <div class="widget">
              <div class="widget-add">
              <img class="img-fluid" src="assets/images/add-banner.png" alt=""></div>
            </div>
          </div>
        </div>
        <!--=================================
        sidebar -->
        <div class="col-lg-9">
          <div class="row mb-4">
            <div class="col-12">
              <h6 class="mb-0">Showing 1-10 of <span class="text-primary">28 Condidats</span></h6>
            </div>
          </div>
          <div class="job-filter mb-4 d-sm-flex align-items-center">
            <div class="job-alert-bt"> <a class="btn btn-md btn-dark" href="#"><i class="fa fa-envelope"></i>Get job alert </a> </div>
            <div class="job-shortby ms-sm-auto d-flex align-items-center">
              <form class="form-inline">
                <div class="input-group mb-0 align-items-center">
                  <label class="justify-content-start me-2">Sort by :</label>
                  <div class="short-by">
                    <select class="form-control basic-select">
                      <option>Newest</option>
                      <option>Oldest</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row">
           
            <div class="col-md-6 mb-4" *ngFor="let c of candidat | paginate : {itemsPerPage: pageSize, currentPage: page, totalItems: count} | recherche : searchFilter | recherche : profil">
              <div class="employers-grid text-center">
                <div class="employers-list-logo">
                  <img class="img-fluid" src="http://localhost:8080/users/files/{{c.image}}" alt="">
                </div>
                <div class="employers-list-details">
                  <div class="employers-list-info">
                    <div class="employers-list-title">
                      <h5 class="mb-0"><a routerLink="/candidates-detail/{{c.iduser}}">{{c.firstName}} {{c.lastName}}</a></h5>
                    </div>
                    <div class="employers-list-option">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-filter pe-1"></i>{{c.profil}}</li>
                        <li><i class="fas fa-map-marker-alt pe-1"></i>{{c.Address}}{{c.city.city}},{{c.city.admin_name}}</li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center mt-4 mt-sm-5">
              <div >
              <div class="page-link b-radius-none" >
                <pagination-controls  class="pagination justify-content-center mb-0"
                 previousLabel="Prev" nextLabel="Next"
                  [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
              </div>
            </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  





















  <!--=================================
  feature info section -->
  <section class="feature-info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
            <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
              <i class="flaticon-team"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Jobseeker</p>
              <h5 class="text-white">Looking For Job?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-dark">
            <div class="feature-info-icon mb-3 mb-sm-0 text-primary">
              <i class="flaticon-job-3"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Recruiter</p>
              <h5 class="text-white">Are You Recruiting?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
