
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="user-dashboard-info-box mb-0">
            <div class="row mb-4">
              <div class="col-md-7 col-sm-5 d-flex align-items-center">
                <div class="section-title-02 mb-0 ">
                  <h4 class="mb-0">Manage offers</h4>
                </div>
              </div>
              <div class="col-md-5 col-sm-7 mt-3 mt-sm-0">
                <div class="search">
                  <i class="fas fa-search"></i>
                  <input type="text" class="form-control" placeholder="Search....">
                </div>
              </div>
            </div>
            <div class="user-dashboard-table table-responsive">
              <table class="table table-bordered">
                <thead class="bg-light">
                  <tr >
                    <th scope="col">Offer Title</th>
                    <th scope="col">Applications</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let offer of offers | paginate : {itemsPerPage: pageSize, currentPage: page, totalItems: count}"> 
                    <th scope="row"> <a routerLink="/job-detail/{{offer.idoffre}}"  title="">{{offer.titleoffer}}</a>
                      <p class="mb-1 mt-2">Expiry:{{offer.datelimite}}</p>
                      <p class="mb-0">{{offer.city.city}}</p>
                    </th>
                     <!-- <td>{{result()}}</td>
                    {{LocalDate}} -->
                    <td *ngIf="offer.datelimite>result()" class="text-success">offre en cours </td>
                    <td *ngIf="offer.datelimite<result()" class="text-danger">offre expiré</td>
                    <td>
                      <ul class="list-unstyled mb-0 d-flex">
                        <li><a routerLink="/update-job/{{offer.idoffre}}"  class="text-success" data-bs-toggle="tooltip" title="view"><i class="far fa-edit"></i></a></li>
                        <li><a routerLink="/job-detail/{{offer.idoffre}}"  class="text-primary" data-bs-toggle="tooltip" title="view"><i class="far fa-eye"></i></a></li>
                        <li><a (click)="deleteoffre(offer.idoffre)"class="text-danger" data-bs-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-12 text-center mt-0">
                <div >
                <div class="page-link b-radius-none" >
                  <pagination-controls  class="pagination justify-content-center" previousLabel="Prev" nextLabel="Next"
                    [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
